[submodule "dot_config/nushell/nu_scripts"]
	path = dot_config/nushell/nu_scripts
	url = https://github.com/nushell/nu_scripts
[submodule "dot_config/nvim"]
	path = dot_config/nvim
	url = https://github.com/Cian-H/my_nvim_config
[submodule "dot_config/micro/plug/filemanager"]
	path = dot_config/micro/plug/filemanager
	url = https://github.com/NicolaiSoeborg/filemanager-plugin.git
[submodule "dot_config/micro/plug/jlabbrev"]
	path = dot_config/micro/plug/jlabbrev
	url = https://github.com/MasFlam/jlabbrev.git
[submodule "dot_config/micro/plug/lsp"]
	path = dot_config/micro/plug/lsp
	url = https://github.com/AndCake/micro-plugin-lsp.git
